@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --background: #F1D763;
    --background-strong: #EDBB4A;
    --btn: #5fbc5c;
    --btn-black: #333333;
    --grey: #f1eded;
    --white: #f3f4f6;
    --black: #111;
    font-family: "Poppins","Montserrat", "Times New Roman";
}

/* Sección header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: var(--black);
}

.header__logo {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 5px;
}

.header__navbar {
    padding-right: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.headear__navbar__list {
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #fffafa;
    float: left;
    list-style: none outside none;
    padding-left: 10px;
    padding-right: 15px;
    width: auto;
}

.headear__navbar__list a,  .header__navbar__list2 a {
    font-size: 14px;
    text-align: center;
    color: white;
}

.header__navbar__list2 {
    display: flex;
    gap: 10px;
}

.header__navbar__list2 span {
    color: white;
    border: 1px solid;
    border-radius: 15px;
    padding: 3px 10px;
    transition: all 0.3s ease-in;
}


.header__navbar__list2 :nth-child(2):hover {
    background-color: #2e61ec;
    color: #2e61ec !important;
    border-radius: 15px;
    transition: all 0.3s ease-in;
}

/* Sección main */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #8fa1df, #c1cedf);
}


.main__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: url(./assets/img-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


.main__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    background: linear-gradient(to top, #ffffff, #7c97e2);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.main__presentacion {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
    padding: 50px 80px;
}

/* Presentación */

#main__us {
    display: flex;
    padding: 60px 30px;
    gap: 30px;
}

#main__us img {
    width: 600px;
    height: 50%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.main__us__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 15px;
}


/* Cards */

#main__cards {
    display: flex;
    padding: 40px 20px;
}

.main__cards__container {
    display: flex;
    gap: 20px;
}

.main__cards__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 40px;
    gap: 20px;
    border-radius: 15px;
    background: var(--background);
    box-shadow: rgba(21, 21, 22, 0.25) 0px 13px 27px -5px, rgba(57, 54, 71, 0.3) 0px 8px 16px -8px;
}


/* Contacto */
#contact {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
    background: var(--btn);
    border-radius: 15px;
    box-shadow: rgba(21, 21, 22, 0.25) 0px 13px 27px -5px, rgba(57, 54, 71, 0.3) 0px 8px 16px -8px;
}

#contact h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact__father {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
}


.contact__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 20px;
}

.contact__form a {
    color: var(--black);
    text-align: center;
    background: var(--background-strong);
    border-radius: 15px;
    padding: 2px 0px;
}

.contact__form input, textarea {
   font-family: Poppins;
   background: var(--grey);
   width : 300px;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* Footer */

footer {
    text-align: center;
    color: var(--white);
    background: var(--black);
}